<h2 mat-dialog-title>{{isEditMode ? 'Edit' : 'Add'}} Patient</h2>
<mat-dialog-content>
  <form [formGroup]="patientForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullName" required>
      <mat-error *ngIf="patientForm?.get('fullName')?.hasError('required')">
        Full Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" required>
      <mat-error *ngIf="patientForm?.get('address')?.hasError('required')">
        Address is required
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="patientForm?.invalid">
    {{isEditMode ? 'Update' : 'Save'}}
  </button>
</mat-dialog-actions>